.service__container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  margin-top: 2rem;
}
.service__card {
  text-align: center;
  padding: 1.875rem;
  border-radius: var(--border-radius);
  background-color: var(--container-color);
  transition: all 0.3s ease-in-out;
}

.service__card:hover {
  transform: translateY(-10px);
  /* background-color: rgb(255, 229, 126); */
  /* box-shadow: 0px 5px 20px 0px rgb(178, 108, 243 /50%); */
}
.service__card:nth-child(1) {
  /* background-color: rgb(253, 225, 113); */
  background-color: rgb(97, 147, 255);
  box-shadow: 0px 5px 20px 0px rgb(178, 108, 243 /50%);
}
.service__card:nth-child(2) {
  /* background-color: rgb(97, 147, 255); */
  background-color: rgb(253, 225, 113);
  box-shadow: 0px 5px 20px 0px rgb(178, 108, 243 /50%);
}
.service__card:nth-child(3) {
  background-color: rgb(255, 118, 141);
  box-shadow: 0px 5px 20px 0px rgb(178, 108, 243 /50%);
}

.service__img {
  margin-bottom: 2rem;
}

.service__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
  color: white;
}

.service__desc {
  color: white;
}

.service__card:nth-child(2) .service__title {
  color: var(--title-color);
}

.service__card:nth-child(2) .service__desc {
  color: var(--text-color);
}

@media screen and (max-width: 1024px) {
  .service__container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .service__container {
    grid-template-columns: 310px;
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 350px) {
  .service__container {
    grid-template-columns: 1fr;
  }
}
