.work__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}
.work__card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.work__img {
  height: 270px;
  width: max-content;
}
.work__mask {
  background: #6c6ce5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}
.work__title {
  color: white;
  font-size: var(--h2-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 2.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}
.work__desc {
  color: white;
  font-size: 13px;
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 4.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}
.repo {
  color: black;
  font-size: 20px;
  margin: 100px 0;
  padding: 0 1.25rem;
  position: absolute;
  top: 4.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}
.repo:hover {
  text-decoration: 1px solid black underline;
}

.work__card:hover {
  opacity: 1;
}
.work__card:hover .work__title {
  opacity: 1;
  transform: translateY(0);
}
.work__card:hover .work__desc {
  opacity: 1;
  transform: translateY(0);
}
.work__card:hover .work__mask {
  opacity: 0.9;
}
.work__card:hover .repo {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1200px) {
  .work__container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: 310px;
    justify-content: center;
    row-gap: 1.875rem;
  }
  .work__img {
    height: 225px;
    width: max-content;
  }
}

@media screen and (max-width: 350px) {
  .work__container {
    grid-template-columns: 1fr;
  }
}
