.home {
  position: relative;
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  max-width: 540px;
  text-align: center;
}
.home_img {
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.5rem;
  width: 300px;
  height: 350px;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  order: 1;
  animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
.home__name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}
.home_social {
  display: flex;
  column-gap: 1.75rem;
  margin: 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.home__social-link {
  color: var(--title-color);
  font-size: 1.5rem;
  transition: 0.3s;
}

.home__social-link:hover {
  color: hsl(44, 100%, 51%);
}

.scroll_down {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 1rem;
}
.home_scroll-name {
  font-size: var(--small-font-size);
}
.mouse {
  border: 2px solid #454360;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  position: relative;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.wheel {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@media screen and (max-width: 1024px) {
  .home__social-link {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 576px) {
  .home_img {
    height: 300px;
    width: 250px;
    margin-top: -10rem;
  }
  .section {
    padding-top: 0.1rem;
  }
}
