@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  max-width: 100%;
  text-align: center;
}
/* .home_img {
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.5rem;
  width: 300px;
  height: 350px;
  background-size: cover;
  border: 20px dashed rgb(226, 226, 226) blu;
  box-shadow: 0px 0px 20px 3px #c7c7c7;
  order: 1;
  animation: profile_animate 8s ease-in-out infinite 1s;
} */

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
.home__name {
  font-size: 4rem;
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
  font-family: "Grenze Gotisch", serif;
}
.home_social {
  display: flex;
  column-gap: 1.75rem;
  margin: 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.home__social-link {
  color: var(--title-color);
  font-size: 1.5rem;
  transition: 0.3s;
}

.home__social-link:hover {
  color: hsl(44, 100%, 51%);
}

.scroll_down {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 1rem;
}
.mouse {
  border: 2px solid #454360;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.2rem;
  border-radius: 1rem;
  position: relative;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.wheel {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@media screen and (max-width: 1024px) {
  .home__social-link {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 576px) {
  .home {
    min-height: 110vh;
  }
  .home__name {
    font-size: 3.2rem;
    margin-top: 10px;
    color: rgb(0, 0, 0);
  }
  .home_social {
    column-gap: 1.6rem;
  }
  .fa-brands {
    font-size: 1.6rem;
  }
  .home_img {
    height: 350px;
    width: 350px;
    margin-top: -4rem;
  }
  .section {
    padding-top: 5rem;
  }
  .back-top {
    position: fixed;
    bottom: "50px";
    right: "40px";
    height: "30px";
    background-color: "black";
    color: "white";
    width: "40px";
    font-size: "25px";
    border: none;
    outline: none;
    border-radius: "10px";
  }
}
