.text-1 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2rem;
}

.text-1 {
  color: rgb(82, 82, 252);
}

@media screen and (max-width: 576px) {
  .text-1 {
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.4rem;
  }
}
