.text-1,
.text-2,
.text-3 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
}

.text-1 {
  color: rgb(82, 82, 252);
}
.text-2 {
  color: rgb(82, 82, 252);
}
.text-3 {
  color: rgb(82, 82, 252);
}
